@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #893685;
  --secondary: #ebebeb;
  --green: #6ead15;
  --orange: #e97d00;
  --blue: #008dde;
  --alto: rgba(137, 54, 133, 1);
  --medio: rgba(137, 54, 133, 0.75);
  --bajo: rgba(137, 54, 133, 0.3);
  --muybajo: rgba(137, 54, 133, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 90px;
}
